name: Static Website Deploy

on:
  # Triggers the workflow on push events to the main branch
  push:
    branches:
      - main

jobs:
  deploy:
    name: Deploy Static Files
    runs-on: ubuntu-latest
    steps:
      # 1. Checkout the latest code
      - name: Checkout Repository
        uses: actions/checkout@v4 # Use v4 for the latest version
        
      # 2. Deploy files to VPS using SCP
      - name: Deploy static files via SCP
        uses: appleboy/scp-action@v0.1.7 
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          source: "." 
          target: "/var/www/Theme-project/"