name: CI/CD Deploy to VPS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout code
      - name: Checkout code
        uses: actions/checkout@v3

      # 2. Setup SSH
      - name: Setup SSH
        uses: webfactory/ssh-agent@v0.8.0
        with:
          # Paste your private key directly here
          ssh-private-key: -----BEGIN OPENSSH PRIVATE KEY-----b3BlbnNzaC1rZXktdjEAAAAABG5vbmUAAAAEbm9uZQAAAAAAAAABAAAAMwAAAAtzc2gtZWQyNTUxOQAAACC9/lN+1OCBNSrJ188uKDmXHnNLefou95yuXznd70v/MQAAAIhSQhGdUkIRnQAAAAtzc2gtZWQyNTUxOQAAACC9/lN+1OCBNSrJ188uKDmXHnNLefou95yuXznd70v/MQAAAECOWt5NIjKWFsL7kV9rW+ZJfWdm3duPCExwMhTrhRzomr3+U37U4IE1KsnXzy4oOZcec0t5+i73nK5fOd3vS/8xAAAAAAECAwQF-----END OPENSSH PRIVATE KEY-----

      # 3. Deploy to VPS
      - name: Deploy to VPS
        run: |
          ssh -o StrictHostKeyChecking=no root@62.72.7.35 << 'EOF'
            set -e
            cd /var/www/Theme-project
            git reset --hard
            git clean -fd
            git pull origin main
            # reload nginx if needed
            systemctl reload nginx
          EOF