name: CI/CD Deploy to VPS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout repository
      - name: Checkout code
        uses: actions/checkout@v3

      # 2. Setup SSH
      - name: Setup SSH
        uses: webfactory/ssh-agent@v0.8.0
        with:
          ssh-private-key: |
            -----BEGIN OPENSSH PRIVATE KEY-----
            b3BlbnNzaC1rZXktdjEAAAAABG5vbmUAAAAEbm9uZQAAAAAAAAABAAAAMwAAAAt
            zc2gtZWQyNTUxOQAAACC9/lN+1OCBNSrJ188uKDmXHnNLefou95yuXznd70v/MQAA
            AIhSQhGdUkIRnQAAAAtzc2gtZWQyNTUxOQAAACC9/lN+1OCBNSrJ188uKDmXHnNL
            efou95yuXznd70v/MQAAAECOWt5NIjKWFsL7kV9rW+ZJfWdm3duPCExwMhTrhRzo
            mr3+U37U4IE1KsnXzy4oOZcec0t5+i73nK5fOd3vS/8xAAAAAAECAwQF
            -----END OPENSSH PRIVATE KEY-----

      # 3. Deploy to VPS
      - name: Deploy to VPS
        run: |
          ssh -o StrictHostKeyChecking=no root@62.72.7.35 << 'EOF'
            set -e
            cd /var/www/Theme-project
            git reset --hard
            git clean -fd
            git pull origin main
            systemctl reload nginx
          EOF
